@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

/* * {font-family: Pretendard,'Noto Sans KR', sans-serif;} */

.login{
  background: linear-gradient(180deg, #BAE6FF 0%, rgba(209, 235, 247, 0.7) 41.98%, rgba(171, 230, 255, 0.3) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:393px;
    height:852px;

}
.logo1 {
  margin-top: 157px;
  margin-bottom: 4.82px;
}
.logo2 {
  margin-bottom: 32px;
  align-items: center;
}

.paragraph {
  color: var(--color-blue);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-bottom: 60px;
 
} 
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="id"], 
input[type="passwordl"] {
  padding:0;
  border-radius: 10px;
  width: 326px;
  height: 52px;
  font-size : 14px;
  background-color: var(--color-white)!important;
  margin-bottom : 13px;
  padding-left: 19px;
}
input[type="passwordl"] {

  margin-bottom: 48px;
}


.findId{
  float:right;
  text-align: right;
  background-color:transparent ;
  font-size: 12px;
  margin-left: 240px;
  margin-bottom: 6px;
  font-weight: 400;
  color: #929292;
  cursor: pointer;
}

button[type="login"]{
  border: none;
    border-radius: 10px;
    align-items: center;
    width: 345px;
    font-size: 18px;
    font-weight: 600;
    height: 52px;
    cursor: pointer;
    color: var(--color-black)!important;
    background-color: var(--color-white)!important;
    margin-bottom: 91px;
}
button[type="signup"] {
  border-radius: 10px;
  align-items: center;
  width: 345px;
  font-size: 18px;
  font-weight: 600;
  height: 52px;
  cursor: pointer;
  color: white;
  background-color: var(--color-skyblue);
  display: block;
  margin-bottom: 23px;
}
.nologin{
  font-size: 14px;
  text-decoration: underline;
  text-underline-offset: 3px;
  margin-bottom: 64px;
  font-weight: 400;
  color: #929292;
}

