.horizontalSwiper{
    height: 160px;
    width:382px;
    margin-top: 19px;
}
.clothesType{
    margin-left: 22px;
    font-size: 18;
    font-weight: 600;
    text-align: left;
}
.clothesList{
    height: 120px;
    width: 382px;
    display: inline-flex;
    overflow-x: scroll;
    overflow-y: hidden;
}
.list-item{
    margin-right: 8px;
        /* 이미지 간격을 설정합니다 */
    width: 120px;
    height: 120px;
    margin-right: 10px;
}
.list-item img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}
::-webkit-scrollbar {
    display: none;
}
